.Container {
    display: flex;
    flex-basis: row;
    justify-content: center;
    padding-top: 70px;
  }
  .Columns {
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 10px;
     width: 250px;
    justify-content:"space-around";
     flex-wrap: wrap;
    padding: 10px !important;
   }
  .Column {
  margin: 20px;
   }
   
  
  .Navbar {
    position: fixed;
    border: 1px solid black;
    background-color: white !important;
    padding: 5px;
    width: 100%;
  }
  
  .Task {
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 3px;
    margin: 15px;
    padding: 10px;
  }
  .Task:hover {
    border: 2px solid skyblue;
  
  }
  
  h3 {
    align-self: center !important;
    text-align: center;
    padding: 10px;
  }
  